@model WebApplication6.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New Customer";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please, fix the following errors")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MembershipTypeId)
        @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MembershipTypeId)
    </div>
    <div class="form-group">
        @{ Html.EnableClientValidation(false); }
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0:d MMM yyyy}", new {@class = "form-control", id = "birthdate_picker"})
        @Html.ValidationMessageFor(m => m.Birthdate)
        @{ Html.EnableClientValidation(true); }
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter, new { @class = "checkbox" }) Subscribed to the Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        
        $(document).ready(
            function() {
                $("#birthdate_picker").datepicker({
                    dateFormat: "dd M yy",
                    changeYear: true,
                    changeMonth: true,
                    yearRange: "c-100:c"
                });
            }
        );
    </script>
}

